.display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.input-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    input {
        padding: 10px;
        width: 300px;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        /* box-sizing: border-box; */
    }

    button {
        /* padding: 10px, 20px; */
        font-size: 20px;
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #4caf50;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #28632a;
        }
    }
}





// .input-item button :hover {
//     background-color: #28632a;
// }