.cardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    border: 1px solid rgb(63, 57, 57);
    border-radius: 7px;
    background-color: rgb(176, 213, 213);
    height: 120px;
    width: 220px;
    /* text-align: center; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0.1);
}

.cardItem h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

.cardItem p {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}